{% macro show_menu() %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('password.index') }}">Gestión de contraseñas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('password.index') }}">Home</a>
        </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">En Claro</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('password.enclaro') }}">Registro</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('password.loginenclaro') }}">Login</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cifrado</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('password.cifrado') }}">Registro</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('password.logincifrado') }}">Login</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hash</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('password.hasheada') }}">Registro</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('password.loginhasheado') }}">Login</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hash Pimienta</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('password.hasheadapeeper') }}">Registro</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('password.loginhasheadopeeper') }}">Login</a></li>
              </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}
